In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import re

In [3]:
#for reading the csv file
data = pd.read_csv("car_price_performance.csv")
data

        Brand  Price  Horsepower  Fuel Efficiency
0     Brand C  91942         382             15.3
1     Brand A  70075         197             32.6
2     Brand C  84524         188             34.9
3     Brand E  68939         258             15.1
4     Brand X  66505         277             13.0
...       ...    ...         ...              ...
1995  Brand Z  34535         196             15.2
1996  Brand C  35215         377             25.3
1997  Brand E  72980         294             21.8
1998  Brand Z  55921         443             11.0
1999  Brand B  95051         225             12.4

[2000 rows x 4 columns]

In [8]:
brand_avg_prices = data.groupby("Brand")["Price"].mean().sort_values()
brand_avg_prices

Brand
Brand W    63034.557018
Brand E    63712.542601
Brand Y    63880.171569
Brand A    64224.495370
Brand B    64686.641350
Brand C    64707.967890
Brand Z    65244.331818
Brand X    65405.884259
Brand D    65498.701681
Name: Price, dtype: float64

In [12]:
#Encoding the brand
brand = {}
count=1
for i in brand_avg_prices.index:
    brand[i]=count
    count+=1
brand

{'Brand W': 1,
 'Brand E': 2,
 'Brand Y': 3,
 'Brand A': 4,
 'Brand B': 5,
 'Brand C': 6,
 'Brand Z': 7,
 'Brand X': 8,
 'Brand D': 9}

In [14]:
val=[]
for j in data["Brand"]:
    y=brand[j]
    val.append(y)
data['Encoded Brand']= val
data

        Brand  Price  Horsepower  Fuel Efficiency  Encoded Brand
0     Brand C  91942         382             15.3              6
1     Brand A  70075         197             32.6              4
2     Brand C  84524         188             34.9              6
3     Brand E  68939         258             15.1              2
4     Brand X  66505         277             13.0              8
...       ...    ...         ...              ...            ...
1995  Brand Z  34535         196             15.2              7
1996  Brand C  35215         377             25.3              6
1997  Brand E  72980         294             21.8              2
1998  Brand Z  55921         443             11.0              7
1999  Brand B  95051         225             12.4              5

[2000 rows x 5 columns]

In [19]:
scaledBrand=[]
min= data['Encoded Brand'].min()
max= data['Encoded Brand'].max()
for x in data['Encoded Brand']:
    scaled_value = (x-min)/(max-min)
    scaledBrand.append(scaled_value)
data['Scaled Encoded Brand'] = scaledBrand
data

,Brand,Price,Horsepower,Fuel Efficiency,Encoded Brand,Scaled Encoded Brand
0,Brand C,91942,382,15.3,6,0.625
1,Brand A,70075,197,32.6,4,0.375
2,Brand C,84524,188,34.9,6,0.625
3,Brand E,68939,258,15.1,2,0.125
4,Brand X,66505,277,13.0,8,0.875
...,...,...,...,...,...,...
1995,Brand Z,34535,196,15.2,7,0.750
1996,Brand C,35215,377,25.3,6,0.625
1997,Brand E,72980,294,21.8,2,0.125
1998,Brand Z,55921,443,11.0,7,0.750
1999,Brand B,95051,225,12.4,5,0.500

In [20]:
scaledHorsepower=[]
min= data['Horsepower'].min()
max= data['Horsepower'].max()
for x in data['Horsepower']:
    scaled_value = (x-min)/(max-min)
    scaledHorsepower.append(scaled_value)
data['Scaled Encoded Horsepower'] = scaledHorsepower
data

,Brand,Price,Horsepower,Fuel Efficiency,Encoded Brand,Scaled Encoded Brand,Scaled Encoded Horsepower
0,Brand C,91942,382,15.3,6,0.625,0.7050
1,Brand A,70075,197,32.6,4,0.375,0.2425
2,Brand C,84524,188,34.9,6,0.625,0.2200
3,Brand E,68939,258,15.1,2,0.125,0.3950
4,Brand X,66505,277,13.0,8,0.875,0.4425
...,...,...,...,...,...,...,...
1995,Brand Z,34535,196,15.2,7,0.750,0.2400
1996,Brand C,35215,377,25.3,6,0.625,0.6925
1997,Brand E,72980,294,21.8,2,0.125,0.4850
1998,Brand Z,55921,443,11.0,7,0.750,0.8575
1999,Brand B,95051,225,12.4,5,0.500,0.3125

In [21]:
scaledFuelEfficiency=[]
min= data['Fuel Efficiency'].min()
max= data['Fuel Efficiency'].max()
for x in data['Fuel Efficiency']:
    scaled_value = (x-min)/(max-min)
    scaledFuelEfficiency.append(scaled_value)
data['Scaled Encoded Fuel Efficiency'] = scaledFuelEfficiency
data

,Brand,Price,Horsepower,Fuel Efficiency,Encoded Brand,Scaled Encoded Brand,Scaled Encoded Horsepower,Scaled Encoded Fuel Efficiency
0,Brand C,91942,382,15.3,6,0.625,0.7050,0.212
1,Brand A,70075,197,32.6,4,0.375,0.2425,0.904
2,Brand C,84524,188,34.9,6,0.625,0.2200,0.996
3,Brand E,68939,258,15.1,2,0.125,0.3950,0.204
4,Brand X,66505,277,13.0,8,0.875,0.4425,0.120
...,...,...,...,...,...,...,...,...
1995,Brand Z,34535,196,15.2,7,0.750,0.2400,0.208
1996,Brand C,35215,377,25.3,6,0.625,0.6925,0.612
1997,Brand E,72980,294,21.8,2,0.125,0.4850,0.472
1998,Brand Z,55921,443,11.0,7,0.750,0.8575,0.040
1999,Brand B,95051,225,12.4,5,0.500,0.3125,0.096

In [ ]:
performance Index = (Horsepower*0.7 + Fuel Efficiency*0.3)/Price

In [25]:
performance_index_list = []

for i in range(len(data)):
    hp = data.loc[i, 'Scaled Encoded Horsepower']
    fe = data.loc[i, 'Scaled Encoded Fuel Efficiency']
    price = data.loc[i, 'Price']
    
    perf_index = (hp * 0.7 + fe * 0.3) / price
    performance_index_list.append(perf_index)

data['Performance Index'] = performance_index_list
data

,Brand,Price,Horsepower,Fuel Efficiency,Encoded Brand,Scaled Encoded Brand,Scaled Encoded Horsepower,Scaled Encoded Fuel Efficiency,Performance Index
0,Brand C,91942,382,15.3,6,0.625,0.7050,0.212,0.000006
1,Brand A,70075,197,32.6,4,0.375,0.2425,0.904,0.000006
2,Brand C,84524,188,34.9,6,0.625,0.2200,0.996,0.000005
3,Brand E,68939,258,15.1,2,0.125,0.3950,0.204,0.000005
4,Brand X,66505,277,13.0,8,0.875,0.4425,0.120,0.000005
...,...,...,...,...,...,...,...,...,...
1995,Brand Z,34535,196,15.2,7,0.750,0.2400,0.208,0.000007
1996,Brand C,35215,377,25.3,6,0.625,0.6925,0.612,0.000019
1997,Brand E,72980,294,21.8,2,0.125,0.4850,0.472,0.000007
1998,Brand Z,55921,443,11.0,7,0.750,0.8575,0.040,0.000011
1999,Brand B,95051,225,12.4,5,0.500,0.3125,0.096,0.000003

In [26]:
data.to_csv("final_data_Jhushiketh_67E4.csv")